.options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.option{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    border: 1px solid white;
}

.name {
    font-size: 15px;
}